@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel&family=Gochi+Hand&family=Patrick+Hand+SC&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  justify-content: space-between;
}
.header .logo .logoHeader {
  width: 5rem;
}
.header .menu {
  position: sticky;
  top: 0;
}
.header .menu li a {
  font-family: "Audiowide", cursive;
}

.inicio:hover {
  text-decoration: underline;
}

.destacados:hover {
  text-decoration: underline;
}

.indumentaria:hover {
  text-decoration: underline;
}

.nosotros:hover {
  text-decoration: underline;
}

.contacto:hover {
  text-decoration: underline;
}

.card:hover {
  border: 1px solid black !important;
}

.hero {
  background-image: url("../img/fondo-hero.jpg");
  background-attachment: fixed;
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .text {
  background-color: #E0E0E0;
  border-radius: 0.5rem;
}

.referencia {
  background-color: #E0E0E0;
}

.logos {
  font-size: xx-large;
}

.titles {
  font-family: "Cinzel", serif;
}

.titleCarrusel {
  font-family: "Audiowide", cursive;
}

.cardBodyMujer * {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.titleCards {
  font-family: "Audiowide", cursive;
}

.acordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
}

.nosotrosSeccion {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nosotrosSeccion .textoNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotrosSeccion .textoNosotros .tituloNosotros {
  font-family: "Audiowide", cursive;
}
.nosotrosSeccion .textoNosotros .parrafoNosotros {
  font-size: 1.2rem;
}
.nosotrosSeccion .textoNosotros .parrafoNosotros .logoNosotros {
  width: 3.5rem;
}

.footer {
  background: rgb(255, 255, 254);
  background: linear-gradient(90deg, rgb(255, 255, 254) 0%, rgb(153, 153, 153) 25%, rgb(0, 0, 0) 50%, rgb(128, 128, 128) 75%, rgb(255, 255, 255) 100%);
}
.footer .logoFooter a {
  font-size: x-large;
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 0;
}
.footer .logoFooter a:hover {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .nosotrosSeccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .hero {
    background-image: url(../img/fongo\ hero.jpg);
  }
  .text {
    font-size: 1rem;
  }
  .text2 {
    font-size: 0.8rem;
  }
  .seccionHombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .seccionHombre .img1 {
    order: 1;
  }
  .seccionHombre .acordion1 {
    order: 2;
  }
  .seccionHombre .img2 {
    order: 3;
  }
  .seccionHombre .acordion2 {
    order: 4;
  }
  .seccionHombre .img3 {
    order: 5;
  }
  .seccionHombre .acordion3 {
    order: 6;
  }
  .filaOffset {
    margin-left: 0;
  }
}/*# sourceMappingURL=estilo.css.map */