.cardBodyMujer * {
padding: 5px;
@include flex(center, center, nowrap);
}
.titleCards{
    font-family: $fuentePrincipal;
}
.acordion{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.card{
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0;
}
.card:hover {
transform: scale(1.05);
}