.cardBodyMujer * {
padding: 5px;
@include flex(center, center, nowrap);
}
.titleCards{
    font-family: $fuentePrincipal;
}
.cardBodyHombre {
@extend .cardBodyMujer;
}
.card:hover {
transform: scale(1.05);
}