.cardBodyMujer * {
padding: 5px;
@include flex(center, center, nowrap);
}
.titleCards{
    font-family: $fuentePrincipal;
}
.acordion{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.card:hover {
transform: scale(1.05);
}