.nosotrosSeccion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .textoNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tituloNosotros{
            font-family: "Audiowide", cursive;
        }
        .parrafoNosotros{
            font-size: 1.2rem;
            .logoNosotros{
                width: 3.5rem;
            }
        }
    }
}